*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: white
}

.container{
    width: 850px;
    height: 600px;
    background-color: black;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    border-radius: 12px;
}

header{
    text-align: center;
}

.logo{
    width: 170px;
}


h1{
    color: #00dd00;
    font-size: 21px;
}

.pulsanti{
    background-color: #00dd00;
    width: 90%;
    margin: 12px auto;
    height: 30px;
}

button{
    font-size: 10px;
    padding: 1px;
}

ul{
    list-style-type: none;
    font-weight: bold;
    margin-left: 40px;
}

p{
    font-weight: lighter;
    font-size: 12px;
}

.barra-arancione{
    height: 22px;
    border-width:0;
    color: #f5b453;
    background-color: #f5b453;
    width: 35%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.barra-verde{
    height: 22px;
    border-width:0;
    color: #1ec31e;
    background-color: #1ec31e;
    width: 60%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.barra-rossa{
    height: 22px;
    border-width:0;
    color: #be4141;
    background-color: #be4141;
    width: 15%;
    border-radius: 5px;
}

